
services:
  - type: web
    name: salon-backend
    env: node
    plan: free
    branch: main
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: MONGO_URI
        sync: false
      - key: PORT
        value: 5000
      - key: JWT_SECRET
        sync: false
      - key: RAZORPAY_KEY_ID
        sync: false
      - key: RAZORPAY_KEY_SECRET
        sync: false

  - type: web
    name: salon-frontend
    env: static
    plan: free
    branch: main
    buildCommand: "cd client && npm install && npm run build"
    staticPublishPath: "client/dist"
    envVars:
      - key: VITE_RAZORPAY_KEY_ID
        sync: false
